/* Brand Colors ------------------------------------------------*/

	$color1: #e21a22;
	$font-color: #6a6a6b;
	$color2: #272727;

	$placeholder: $color2;

	$base-font-weight: 300;
	$brand-font-1: '',sans-serif;
	$brand-font-2: '',sans-serif;

/* My Var ----------------------------------------------------*/
	$color_focus_on_btn: #0f56ac;
	$color_focus_off_btn: #37a9fa;
	$color_activ_off_btn: #a6d7e1;

	$color_filter_on_btn: #2c77a0;
	$color_filter_off_btn: #a2a2a2;
